.add-student {
  .form-group {
    max-width: 300px;
    .form-control {
      width: 100%;
    }
  }
  form {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
